<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ConfigsTests.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Fodil/OneDrive - Levio/Levio/Automatisation/SeleniumWP/VDLProject">
        <classes>
            <class name="HomePageTest"/>
            <class name="LandingPageTest"/>
            <class name="LoginPageTest"/>
        </classes>
    </test>
</suite>

